<div class="col-lg-4">
  <%= form_with(model: order, class: "input-group") do |form| %>
    <% if order.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

        <ul>
          <% order.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :total, class: "form-label" %>
      <%= form.text_field :total, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label "Street, no.", class: "form-label" %>
      <%= form.text_field :street, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :city, class: "form-label" %>
      <%= form.text_field :city, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :zip, class: "form-label" %>
      <%= form.text_field :zip, class: "form-control" %>
    </div>

      <div class="field p-1 d-block">
      <%= form.label :paid, class: "form-check-label" %>
      <%= form.check_box :paid, class: "form-check-input" %>
    </div>

    <div class="field p-1 d-block">
      <%= form.label :delivered, class: "form-check-label" %>
      <%= form.check_box :delivered, class: "form-check-input" %>
    </div>

    <div class="field p-1 d-block">
      <%= form.label :canceled, class: "form-check-label" %>
      <%= form.check_box :canceled, class: "form-check-input" %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>
