<p id="notice"><%= notice %></p>

<h1>Orders</h1>


<table>
  <thead>
    <tr>
      <th>Total</th>
      <th>Paid</th>
      <th>Delivered</th>
      <th>Canceled</th>
      <th>Street, no.</th>
      <th>City</th>
      <th>Zip</th>
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.total %></td>
        <td><%= order.paid %></td>
        <td><%= order.delivered %></td>
        <td><%= order.canceled %></td>
        <td><%= order.street %></td>
        <td><%= order.city %></td>
        <td><%= order.zip %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back to Dashboard', admin_path %>
