<div class="col-lg-4">
  <%= form_with(model: order, url: checkout_path, class: "input-group") do |form| %>
    <% if order.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

        <ul>
          <% order.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :street, "Street, no.", class: "form-label" %>
      <%= form.text_field :street, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :city, class: "form-label" %>
      <%= form.text_field :city, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :zip, class: "form-label" %>
      <%= form.text_field :zip, class: "form-control" %>
    </div>

    <div class="actions">
      <%= form.submit 'Confirm Order', class: "btn btn-success" %>
    </div>
  <% end %>
</div>