<div id="show-checkout" class="container">
  <ul class="list-group list-group-flush">  
    <% if @order.number_of_items > 0%>
      <li class="list-group-item">
        <p><%= "#{pluralize(@order.number_of_items, 'item')} with a value of #{@order.subtotal} €" %></p>
      </li>
      <li class="list-group-item">
        <h2>Delivery address:</h2>
      <li class="list-group-item">
        <p>Street: <%= @order.street %></p>
      </li>
      <li class="list-group-item">
        <p>City: <%= @order.zip %> <%= @order.city %></p>
      </li>
      <li class="list-group-item">
        <%= link_to 'Change Address', edit_checkout_path, class: "btn btn-warning" %>
      </li>
      <li class="list-group-item">
        <%= button_to "Buy now", payment_create_path, method: :post, remote: true, class: "btn btn-success" %>
      </li>
    <% else %>
      <li class="list-group-item">
        <p>You don't have anything in your cart.</p>
      </li>
    <% end %>
    <li class="list-group-item">
      <%= link_to 'Back to Cart', cart_path, class: "btn btn-warning" %>
    </li>
  </ul>
</div>