<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category.name %>
</p>

<p>
  <strong>Vegetarian:</strong>
  <%= @product.vegetarian %>
</p>

<p>
  <strong>Vegan:</strong>
  <%= @product.vegan %>
</p>

<p>
  <strong>Available:</strong>
  <%= @product.available %>
</p>

<p>
  <strong>Featured:</strong>
  <%= @product.featured %>
</p>

<% if @product.image.attached? %>
  <p>
    <strong>Image:</strong>
    <%= image_tag(@product.image.variant(resize_to_limit: [300, nil]), class: 'img-fluid') %>
  </p>
<% end %>

<p>
  <strong>Created at:</strong>
  <%= @product.created_at.httpdate %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @product.updated_at.httpdate %>
</p>

<%= link_to 'Edit', edit_product_path(@product), class: "btn btn-warning" %> 
<%= link_to 'Back', products_path, class: "btn btn-warning" %>
